.containerform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f2f2f2;
}

.form-container {
  padding: 40px;
}

.heading11 {
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px auto;
}

.option-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.dpt {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #45a049;
}
